.modal {
  	position: absolute;
  	z-index: 1000;
  	padding: 50px;
/*  	background-color: #ED7E71;*/
}

img{
  	display: inline-block;
	width: 95%; 
	max-height: 600px;
  	margin: 15px 0 15px 0;
} 

.modal-view{
  	background-color: #ED7E71;
  	text-align: center;
  	clear: both;
  	padding: 5px;
  	border: 10px solid #e2e2e2;
}

.modal-close {
  	cursor: pointer;
}


button.modal-close {
	font-weight:500;
	font-size: 16px;
/*  	background-color: #ed8e6c;*/
/*  	color: #ffffff;*/
	color:#444;
  	border: none;
  	border-radius: 4px;
  	margin: 10px auto auto auto;
  	float: right;
	width: 60px;
}

button.modal-close:hover {
	background-color:#ED7E71;
	color:aliceblue;
}
